/* CSS DOCUMENT */
@charset "UTF-8";
/*configuraiones generales*/

@font-face {
    font-family: "Archivo Regular";
    src: url(fuentes/Archivo-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Archivo Italic";
    src: url(fuentes/Archivo-Italic.ttf) format(truetype);
    font-weight: normal;
    font-style: italic;
}

* {
    font-family: 'Archivo Regular', sans-serif;
    color: rgb(26, 26, 162); /* este color está afectando a un solo lugar, capaz con tantos cambios esta propiedad te quedó obsoleta */
    background-color: rgb(230, 238, 238);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: url(img/cursor.svg), auto; /* esto es hermoso, pero tenés que tener cuidado con el contraste porque cuando el cursor se sitúa en el header deja de verse, capaz con un borde de color blanco o del bg que estás usando funcione mejor en todos los aspectos. Además podrías girarlo un poquito para que se note que en la parte superior izquierda es el punto en donde se hce el click porque así queda el problema que se siente como si el click se hiciera en el centro. */
}

/*empieza las aplicaciones*/

a {
    text-decoration: none;
    background-color: rgb(26, 26, 162);
    color: rgb(230, 238, 238);
}

h1,
h2,
h3,
h4 {
    font-family: 'Archivo Italic', sans-serif;
    color: rgb(26, 26, 162);
}

h1 {
    font-size: 4rem;
    line-height: 4rem;
    text-wrap-style: balance;
    color: rgb(26, 26, 162); /* no repitas lo del selector universal */
}

p {
    text-wrap-style: pretty;
}

.botonera {
    background-color: rgb(26, 26, 162);
    padding: 5px;
    margin: 0px; /* esto ya lo estás declarando en el selector universal, no repitas */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center; /* al tener cajas que podríamos decir en terminos tipográficos está justificado, no es necesario que sumes esto porque tampoco genera muchos cambios, ahora si tuvieses cajas más chicas podrías usarlo para centrarlas */
    margin-top: 0; /* ya está en el selector universal */
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
}

#hero {
    display: flex;
    justify-content: center;
    padding: 50px;
}

#foto-perfil {
    height: auto;
    max-width: 280px;
}

/* no repitas!!! todas las secciones tienen exactamente las mismas propiedades así que  */

#sobre-mi {
    padding: 20px;
    margin-top: 0px; /* no repitas */
    margin-bottom: 10px;
    border:solid rgb(26, 26, 162);
    display: flex;
    gap: 20px;
}

#trabajos {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border:solid rgb(26, 26, 162);
    display: flex;
    gap: 20px;
}

#formacion-academica {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border:solid rgb(26, 26, 162);
    display: flex;
    gap: 20px;
}

#habilidades {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border:solid rgb(26, 26, 162);
    display: flex;
    gap: 20px;
}

footer {
    background-color: rgb(26, 26, 162);
    color: rgb(230, 238, 238);
    display: flex;
    align-items: center;
    padding: 20px;
}
