/* CSS DOCUMENT */
@charset "UTF-8";
/*configuraiones generales*/

@font-face {
    font-family: "Archivo Regular";
    src: url(fuentes/Archivo-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Archivo Italic";
    src: url(fuentes/Archivo-Italic.ttf) format(truetype);
    font-weight: normal;
    font-style: italic;
}

* {
    font-family: 'Archivo Regular', sans-serif;
    background-color: rgb(230, 238, 238);
    color: rgb(26, 26, 162);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: url(img/cursor.svg), auto;
    gap: 20px;
}

/*empieza las aplicaciones*/

a {
    text-decoration: none;
    background-color: rgb(26, 26, 162);
    color: rgb(230, 238, 238);
}

h1,
h2,
h3,
h4 {
    font-family: 'Archivo Italic', sans-serif;
    color: rgb(26, 26, 162);
}

h1 {
    font-size: 4rem;
    line-height: 4rem;
    text-wrap-style: balance;

}

p {
    text-wrap-style: pretty;
}

.botonera {
    background-color: rgb(26, 26, 162);
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
}

#hero {
    display: flex;
    justify-content: center;
    padding: 50px;
}

#foto-perfil {
    height: auto;
}

#sobre-mi,#trabajos,#formacion-academica,#habilidades {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border:solid rgb(26, 26, 162);
    display: flex;
}

#trabajos,#formacion-academica {
    display: flex;
    flex-direction: column;
}

#cajas-a,#cajas-b{
    display: flex;
}

#habilidades {
    justify-content: center;
    align-items: center;
    max-width: fit-content;
}

footer {
    background-color: rgb(26, 26, 162);
    color: rgb(230, 238, 238);
    display: flex;
    align-items: center;
    padding: 20px;
}
